<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 u-space-3 u-space-0--lg">
			<div class="text-center"><img src="https://cdn11.bigcommerce.com/s-0r5ke/product_images/uploaded_images/longlogo.png" width="50%" alt="logo"> <h3 style="display:inline-block;"><span class="badge badge-primary">API</span></h3></div>
			<hr>
			<p class="text-center">Product API for Bigcommerce on the elegancegel.com website that provides direct communication to the Facebook SDK </p>

		</div>
	</div>


	
	<script type="text/javascript" src="https://eleganceapi.herokuapp.com/widgets/contact_form.js"></script>
</div>


