<div class="container">
	<hr>
	<div class="row">
		<div class="col-md-8 offset-2">
			<div class="text-center"><img src="https://cdn11.bigcommerce.com/s-0r5ke/product_images/uploaded_images/longlogo.png" width="50%" alt="logo"> <h3 style="display:inline-block;"><span class="badge badge-primary">API</span></h3></div>
			<p class="text-center">Product API for Bigcommerce on the elegancegel.com website that provides direct communication to the Facebook SDK </p>
			
		</div>
	</div>
	
</div>


